html {
  padding: 0px;
  margin: 0px;
  color: #F2E8F1;
  background-color:#32151B;
}

body {
  padding: 0px;
  margin: 0px;
}

.content {
  margin-left: 18em;
  padding: 2em;
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-flow: column;
  width: 16em;
  padding: 1em;
  margin: 0px;
  background-color: #1A0B0A;
  justify-content: space-between;
}

.bio {
  padding-bottom: 1em;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 14pt;
}

.navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.links {
  text-align: center
}
