html {
  padding: 0px;
  margin: 0px;
  color: #fcc15a;
  background-color:#281501;
}

body {
  padding: 0px;
  margin: 0px;
}

.content {
  padding: 2em;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 4em;
}

.topbar {
  position: fixed;
  top: 0px;
  height: 2em;
  right: 0px;
  left: 0px;
  display: flex;
  flex-flow: row;
  padding-top: 0.3em;
  padding-left: 20%;
  padding-right: 20%;
  color: #fc9314;
  background-color: #351702;
  text-decoration-line: none;
  justify-content: space-between;
}

.bio {
  padding-bottom: 1em;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 14pt;
}

navigation {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}
