@font-face {
  font-family: pixel-operator;
  src: url(PixelOperator-Bold.ttf);
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: noto-serif;
  src: url(static/NotoSerif-Regular.ttf);
  font-display: block;
  font-style: normal;
}

@font-face {
  font-family: pixel-serif;
  src: url(PixelSerif_16px_v02.otf);
}

@font-face {
  font-family: IBM;
  src: url(Web437_IBM_Model3x_Alt2.woff);
}

html {
  color: #bbbbbb;
  background-color:#010101;
  font-family: noto-serif;
  font-size: 12pt;
}

a {
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text_decoration-color: currentcolor;
  text-align: center;
}

h1 {
  font-size: 11pt;
  color: #bb0e32;
  text-shadow: 0px 0px 24px #ff0000;
}

.content {
  background-color: #090909;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-container {
  display: flex;
  justify-content: center;
}

.link-container-item {
  padding-left: 2em;
  padding-right: 2em;
}
